header {
	width: 90%;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

h1 {
	font-size: 38px;
}

header img {
	width: 70px;
	margin: auto;
}

nav li {
	display: inline-block;
	padding: 10px;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 80%;
}

aside {
	width: 30%;
	margin-right: 15px;
	display: inline-block;
}

figure img {
	margin-top: 35px;
	width: 100%;
}

section {
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

h2 {
	font-size: 34px;
	margin-top: 20px;
}

ol li:nth-of-type(2n - 1) {
	background-color: lightgrey;
}

a {
	text-decoration: none;
	color: blue;
}

#reviews {
	margin-left: 300px;
}

input[type="radio"] {
	-webkit-appearance: none;
	width: 27px;
	height: 27px;
	background-image: url(stars.png);
	outline: none;
}

input[type="radio"]:checked {
	height: 75;
	background-position: 30px, 30px;
}

input:last-child {
	cursor: pointer;
	outline: none;
	background-color: gold;
	padding: 20px;
}

input:last-child:hover {
	-webkit-filter: brightness(90%);
}

textarea {
	display: block;
	width: inherit;
	border: 2px solid black;
	outline: none;
	padding: 10px;
	margin-top: 15px;
}

footer {
	float: right;
	margin-right: 90px;
}
























